
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isAdmin() {
      return request.auth.uid == 'eFcPNPK048PlHyNqV7cAz57ukvB2';
    }

    function isSignedIn() {
      return request.auth != null;
    }

    match /library-assets/{assetId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
