
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Admin user ID
    function isAdmin() {
      return request.auth.uid == 'eFcPNPK048PlHyNqV7cAz57ukvB2';
    }

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return request.auth.uid == userId;
    }

    match /distributors/{distributorId} {
      // Allow a user to get their own document, or an admin to get any.
      allow get: if isOwner(distributorId) || isAdmin();
      
      // Allow any signed-in user to list the collection for the tree view.
      allow list: if isSignedIn();
      
      // Allow a user to create their own doc, or an admin to create docs for others.
      allow create: if isOwner(distributorId) || isAdmin();
      
      // Allow a user to update their own profile, or an admin to update any profile.
      allow update: if isOwner(distributorId) || isAdmin();

      // Only admins should be able to delete distributors.
      allow delete: if isAdmin();
      
      match /performanceMetrics/{metricId} {
        // Only the owner or an admin can access performance metrics.
        allow read, write: if isOwner(distributorId) || isAdmin();
      }
    }

    match /libraryAssets/{assetId} {
      allow read: if isSignedIn();
      allow write: if isAdmin();
    }
  }
}
